.navbar {
    background-color:grey;
    width:20vw;
    height:100vw;
    float:left;
    margin-left:0px;
}
li {
  height:5vw;
  width:15vw;
  background-color:#a3a8af;
    border: 0.2vw solid #272828;
}
li:active {
    border:none;
}

.resume {
    display:inline-block;
    width:79vw;
    height:100vw;
    background-color:lightblue;
    margin-right:0px;
}
.footer {
    height:5vw;
    width:100vw;
    margin-top:0px;
    background-color:red;
}