.navbar {
    background-color:grey;
    width:20vw;
    height:100vw;
    float:left;
}
.resume {
    display:inline-block;
    width:75vw;
    height:100vw;
    background-color:lightblue;
}
.footer {
    height:5vw;
    width:100vw;
    background-color:red;
}