.searchBox {
    width:60vw;
    height:78vh; 
    background-color:lightgray;
    position:absolute;
    top:5vh;
    left:15vw;
    border-radius:5%;
}
.searchPanel {
    width:55vw;
    height:10vh;
    background-color:lightpink;
    position:relative;
    top:1vh;
    left:2.5vw;
    border-top-left-radius:1vw;
    border-top-right-radius:1vw;
}
.result {
    width:55vw;
    height:62.5vh;
    background-color:white;
    position:relative;
    top:1vh;
    left:2.5vw;
    overflow-y:scroll;
    overflow-x:hidden;
    border-bottom-left-radius:1vw;
    
}
.title {
    width:54vw;
    height:3.5vw;
    text-align:center;
    padding-top:1vh;
    font-size:2.5vw;
    border-bottom: 0.1vw solid black;
}
.poster {
    width:10vw;
    height:24.8vh;
    margin:1vh 1vw 1vw 1vw;
    float:right;
}
.info {
    width:54vw;
    margin-top:1vh;
    font-size:1vw;
}
img {
    width:100%;
    height:100%;
}
.facts {
    width:54vw;
    height:20vh;
    clear:right;
    margin-top:5vh;
}
.misc {
    width:25vw;
    height:20vh;
    vertical-align:top;
    display:inline-block;
    border: 0.3vw solid grey;
    padding-left:1vw;
    margin-left:0.2vw;
    font-size:1vw;
    margin-bottom:2.5vh;
}
.ratings {
    width:25vw;
    height:20vh;
    display:inline-block;
    border:0.3vw solid grey;
    padding-left:1vw;
    margin-left:0.1vw;
    font-size:1vw;
}
.searchField {
    position:absolute;
    top:4.25vh;
    left:29vw;
    width:15vw;
    height:3vh;
    font-size:1vw;
    border-radius:5vw;
    padding-left:1vw;
}
.searchButton {
    width:7.5vw;
    height:3vh;
    position:absolute;
    top:2vw;
    left:46vw;
    background-color:lightgrey;
    cursor:pointer;
    border-radius:0.2vw;
    box-shadow: 3px 5px 7px 0px rgba(0,0,0,0.75);
    border-top: 0.1vw solid darkgrey;
    border-left: 0.1vw solid darkgrey;
    border-right: 0.1vw solid darkgrey;
    border-bottom:0.3vw solid darkgrey;
    text-align:center;
    font-size:1.25vw;
}
.searchButton:active {
    border-bottom:none;
    box-shadow:none;
    background-color:darkgrey;
    margin-top:0.3vw
}
.pageHeading {
    margin-top:1vh;
    margin-left:1vw;
    font-size:4.5vw;
}
h3 {
    text-align:center;
}
.tag {
    font-size:1vw;
    margin-left:2.5vw;
    margin-top:1.5vh;
}
a, a:active {
    text-decoration:none;
    color:sandybrown;
}