body {
  width:99%;
  background-color:#68ff72;
}

.quotebox {
  width:40vw;
  margin-top:25vh;
  margin-left:30vw;
  background-color:white;
  height:auto;
}
.textbox {
  background-color:white;
  width:38.75vw;
  height:auto;
  position:relative;
  top:1vh;
  left:0.5vw;
  border-radius:0.3vw;
  border:0.06vw solid #d6ccc9;
  text-align:center;
  font-family:script;
  font-size:2vw;
}
.tweet {
  position:relative;
  top:2.5vh;
  left:2.5vw;
  border-radius:0.3vw;
  background:#1b95e0;
  width:5vw;
  height:3.5vh;
  border:0.01vw solid #6d6b6b;
  color:white;    
  margin-bottom:2.5vh;
  padding-left:1vw;
  margin-top:0.2vh;
  margin-left:0.5vw;    
  font-family:sans-serif;
  font-size:1.25vw;
}
a, a:active {
  display:inline-block;
    
  text-decoration:none;
}
.newfrase {
  position:relative;
  top:-4vh;
  left:25vw;
  width:10vw;
  height:3.5vh;
  border-radius:0.4vw;
  border:0.07vw solid #6d6b6b;
  background-color:#2cb26f;
  color:white;
  text-align:center;
  font-size:1vw;
  font-family:sans-serif;
  cursor:pointer;
}
p {
    margin-top:0.5vh
}