#markup {
    position:absolute;
    top:10vh;
    left:17.5vw;
    width:30vw;
    height:70vh;
    background-color:darkslategray;
    color:greenyellow;
    resize:vertical;
    border-radius:0.5vw;
}
#previewer {
    position:absolute;
    top:10vh;
    left:52.5vw;
    width:30vw;
    height:70vh;
    background-color:aliceblue;
    overflow-y:scroll;
    border-top:0.1vw solid darkgrey;
    border-left:0.1vw solid darkgrey;
    border-bottom:0.1vw solid darkgrey;
    border-top-left-radius:0.5vw;
    border-bottom-left-radius:0.5vw;
}
#previewer strong {
    color:red;
}
#previewer em {
    color:grey;
}
#previewer h1 {
    color:blue;
}
#previewer del {
    color:orange;
}
#previewer a {
    color:brown;
}
#previewer ul {
    color:green;
}